.products{
    
    .products_items{
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        overflow: hidden;
        @media (max-width: 1279px) {
            padding:0 20px 0 20px;
        };
        @media (max-width: 639px) {
            padding: 0;
            flex-direction: column;
        };
        }

    &_item{
        position: relative;
        padding: 39px 40px 42px 40px;
        @media (max-width: 1279px) {
            padding: 30px 0 34px 38px;
        };
        
        &_link {
            position: absolute;
            display: block;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
            text-transform: uppercase;
            bottom:34px;    
        }

        &_1{
        width: 460px;
        height: 356px;
        margin-right: 30px;
        background-image:url('/srs/img/products_item1_bg.jpg');
        background-size: cover; 
        background-position: center;
        overflow: hidden;
        @media (max-width: 1599px) and (min-width: 1280px) {
            width: 367px;
            height: 356px;
        };
        @media (max-width: 1279px) {
            margin-right: 20px;
            height: 252px;
            width: 50%;
            background-color: #01B7E6;
            background-image: none;
        }; 
        @media (max-width: 639px) {
            width: 100%;
        };
        &_header{
            color: #FFF;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            width: 129px;
            @media (max-width: 1279px) {
                font-size: 23px;
                width: 160px;
            };
        }
        }
        &_2{
            width: 950px;
            height: 356px;
            background-image:url('/srs/img/products_item2_bg.jpg');
            background-size: cover; 
            background-position: center;
            @media (max-width: 1279px) {
                width:50%;
                height: 252px;
                background-color: #587478;
                background-image: none;
            };
            @media (max-width: 639px) {
                margin-top: 10px;
                width: 100%;
            };
            @media (max-width: 1599px) and (min-width: 1280px) {
                width: 763px;
                height: 356px;
            }; 
            &_left{
                height: 100%;
                float: left;
            }
            &_date  {
                color: #FFF;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                @media (max-width: 1279px) {
                    color: #FFF;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; 
                };
            }
            &_header{
                width: 205px;
                color: #FFF;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: 36px;
                margin-top: 66px;
                @media (max-width: 1279px) {
                    width: 150px;
                    margin-top: 25px;
                    font-size: 23px;
                };
            }
            &_right{
                
                height: 50px;
                display: flex;
                align-items:flex-start;
                float: right;
                margin-top: 0;
                @media (max-width: 1279px) {
                    display: none;
                };
                .products_item_link_btn{
                    display: block;
                    height: 50px;
                    .products_item_btn{
                        border:none;
                        width: 164px;
                        height: 50px;
                        background: #F40;
                        
                        color: #FFF;
                        text-align: center;
                        font-feature-settings: 'liga' off;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px; /* 160% */
                        text-transform: uppercase;
                 }   
                }
            }
        }

    }
    .mobile_img{
        display: none;
        @media (max-width: 1279px) {
            position: absolute;
            display: block;
        };
        &_1{
            bottom: 0;
        } 
        &_2{
            right: 6px;
            @media (min-width: 960px)  {
                right: 76px;
            };
        }
    }
}

