.footer{
    color: rgba(255, 255, 255, 0.5);
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    border-top: 1px solid rgb(39, 46, 59);;
    &_content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;
    }
    &_menu{
        display: flex;
        column-gap: 32px;
        margin: 0;
    }
    a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
    }
}