@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Rubik; }

body {
  background: #20222a; }

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto; }
  @media (min-width: 1024px) and (max-width: 1440px) {
    .container {
      padding: 0 108px 0 108px; } }

.header {
  height: 72px;
  background: #20222a; }
  .header_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 16px; }
  .header_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 140px;
            column-gap: 140px; }
    .header_left .menu {
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-column-gap: 32;
              column-gap: 32; }
      .header_left .menu_item {
        margin: 0;
        color: white;
        font-family: Rubik;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left; }
  .header .select_language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 96px;
    height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* Разделители */
    border: 1px solid #3d4554;
    border-radius: 20px;
    padding: 0 17px 0 12px; }
    .header .select_language_text {
      color: white;
      font-family: Rubik;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0%;
      text-align: left;
      margin: 0 8px 0 12px; }

.select-game {
  background: #272e3b;
  height: 286px; }
  .select-game_content {
    padding-top: 48px; }
    .select-game_content .info {
      color: rgba(255, 255, 255, 0.5);
      font-family: Rubik;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0%;
      text-align: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-column-gap: 16px;
              column-gap: 16px; }
      .select-game_content .info a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5); }
      .select-game_content .info .line {
        height: 22px;
        width: 1px;
        background: #3d4554; }
  .select-game h2 {
    color: white;
    font-family: Rubik;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: left; }
  .select-game .active_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px; }
    .select-game .active_items .game_select {
      color: #fff;
      font-family: Rubik;
      font-size: 18px;
      font-weight: 500;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 392px; }
      .select-game .active_items .game_select img {
        width: 40px;
        height: 40px; }
      .select-game .active_items .game_select .game {
        height: 72px;
        padding-left: 16px;
        width: 196px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border: 1px solid #3d4554;
        -webkit-column-gap: 16px;
                column-gap: 16px; }
        .select-game .active_items .game_select .game:first-child {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border: 2px solid #f4c038;
          border-radius: 16px 0px 0px 16px;
          background: rgba(239, 188, 58, 0.1); }
        .select-game .active_items .game_select .game:last-child {
          border-radius: 0px 16px 16px 0px; }
    .select-game .active_items .refresh {
      border: none;
      background: none;
      color: white;
      font-family: Rubik;
      font-size: 16px;
      font-weight: 500; }
      .select-game .active_items .refresh img {
        margin-left: 13px; }

input[type="checkbox"] {
  display: none; }

label::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid #ffce50;
  border-radius: 4px; }

input[type="checkbox"]:checked + label::before {
  content: '';
  background-color: rgba(255, 206, 8, 0.6);
  background-size: 100%;
  background-image: url("../icons/check.svg"); }

label.red::before {
  border: 1px solid #ed422b; }

input[type="checkbox"]:checked + label.red::before {
  background-color: rgba(237, 66, 43, 0.6); }

label.pink::before {
  border: 1px solid #cf309c; }

input[type="checkbox"]:checked + label.pink::before {
  background-color: rgba(207, 48, 156, 0.6); }

label.purple::before {
  border: 1px solid #8533ed; }

input[type="checkbox"]:checked + label.purple::before {
  background-color: rgba(133, 51, 237, 0.6); }

label.blue::before {
  border: 1px solid #275ce4; }

input[type="checkbox"]:checked + label.blue::before {
  background-color: rgba(39, 92, 228, 0.6); }

label.light_blue::before {
  border: 1px solid #6ab2f4; }

input[type="checkbox"]:checked + label.light_blue::before {
  background-color: rgba(106, 178, 244, 0.6); }

label.white::before {
  border: 1px solid white; }

input[type="checkbox"]:checked + label.white::before {
  background-color: rgba(255, 255, 255, 0.6); }

.filters {
  background: #20222a;
  color: #fff;
  padding-top: 40px; }
  .filters .text_and_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .filters .text_and_search .filters_text h2 {
      font-size: 32px;
      font-weight: 400; }
    .filters .text_and_search .filters_text span {
      margin-top: 12px;
      font-size: 16px;
      font-weight: 300; }
    .filters .text_and_search .filters_search {
      width: 392px;
      height: 48px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: 1px solid #3d4554;
      border-radius: 24px; }
  .filters .filters_items {
    margin-top: 42px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .filters .filters_items .checboxes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-column-gap: 16px;
              column-gap: 16px; }
      .filters .filters_items .checboxes h3 {
        font-size: 16px;
        font-weight: 400;
        margin-right: 4px; }
      .filters .filters_items .checboxes .checkbox {
        padding: 0;
        width: 41px;
        font-size: 14px;
        font-weight: 400;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .filters .filters_items .checboxes .checkbox span {
          color: rgba(255, 255, 255, 0.5);
          font-size: 14px;
          font-weight: 300;
          margin-left: 12px; }
    .filters .filters_items .hot_price {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .filters .filters_items .hot_price_switcher {
        width: 40px;
        height: 24px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 1px solid #3d4554;
        border-radius: 24px;
        background: #272e3b;
        position: relative;
        margin-right: 8px; }
        .filters .filters_items .hot_price_switcher:after {
          content: ' ';
          position: absolute;
          width: 16px;
          height: 16px;
          border-radius: 100%;
          background-color: #fff;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-100%, -50%);
                  transform: translate(-100%, -50%);
          -webkit-transition: 0.5s;
          transition: 0.5s; }
        .filters .filters_items .hot_price_switcher_active:after {
          -webkit-transform: translate(0%, -50%);
                  transform: translate(0%, -50%); }
      .filters .filters_items .hot_price .fire_price {
        padding-bottom: 10px; }
      .filters .filters_items .hot_price .help {
        margin-left: 12px; }
  .filters .gorizontal_line {
    width: 100%;
    height: 1px;
    background: #3d4554;
    margin-top: 34px; }

.content_top {
  width: 100%;
  height: 20px;
  margin-top: 24px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .content_top button {
    background: none;
    color: #fff;
    border: none; }
  .content_top .select_all {
    color: #f4c038;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 12px;
            column-gap: 12px; }
  .content_top .sort_by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .content_top .sort_by span {
      margin-left: 12px;
      margin-right: 17px; }
.content .cards_block {
  width: 100%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 18px;
          column-gap: 18px;
  row-gap: 24px; }
  .content .cards_block .item {
    width: 120px;
    height: 132px;
    border-radius: 16px;
    background: #272e3b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    position: relative; }
    .content .cards_block .item_img {
      margin: 0 auto;
      width: 88px;
      height: 66px;
      margin-top: 12px; }
    .content .cards_block .item_price {
      margin-top: 16px;
      color: white;
      font-family: Rubik;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0%;
      text-align: center; }
      .content .cards_block .item_price_hot {
        color: #f47523; }
    .content .cards_block .item .rectangle {
      height: 7px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: 0; }
    .content .cards_block .item .shadow {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: -60px; }
.content_bottom {
  margin-top: 40px;
  margin-bottom: 43px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 12px; }
  .content_bottom span {
    color: #fff;
    font-size: 16px;
    font-weight: 400; }
  .content_bottom a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 12px;
            column-gap: 12px; }
    .content_bottom a span {
      color: #f4c038;
      font-family: Rubik;
      font-size: 16px;
      font-weight: 400; }

.footer {
  color: rgba(255, 255, 255, 0.5);
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  border-top: 1px solid #272e3b; }
  .footer_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 48px; }
  .footer_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 32px;
            column-gap: 32px;
    margin: 0; }
  .footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=style.css.map */