@media (min-width: 768px) and (max-width:1199px) {
     
};
@media (max-width: 767px) and (min-width: 200px) {
    
};

.audio{
    background-color: #F5F4FF;

    &_container{

    }
    &_header{
        color: #2D2D2D;
        text-align: center;
        font-family: Directo;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        margin: 0 auto;
        padding-top: 75px;
        width: 853px;
        @media (min-width: 768px) and (max-width:1199px) {
            width: 561px;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 46px; 
            margin-top: 70px;
        };
        @media (max-width: 767px) and (min-width: 200px) {
            margin-top: 34px;
            width: 345px;
            color: #2D2D2D;
            font-family: Directo;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            text-align: left;
        };
    }
    &_buttons{
        margin: 0 auto;
        margin-top: 49px;
        width: 300px;
        &_button{
            position: relative;
            width: 146px;
                height: 45px;
                border-radius: 15px 50px;
                background: #5B45FF;
                border:none;
                color: #FFF;
                text-align: center;
                font-family: "Faber Sans Pro";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 50px;
                transition: all 0.5s;

                &:hover{
                    color: #513CF3;
                    background: none;
                    &::after {
                        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="79" height="1" viewBox="0 0 79 1"><line y1="0.5" x2="79" y2="0.5" stroke="%235B45FF" stroke-dasharray="2 2"/></svg>');
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -20px;
                        
                      }
                    
                }
        }
    }
    &_media{
        width: 1148px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        margin-top: 49px;

        @media (min-width: 768px) and (max-width:1199px) {
            margin-top: 39px;
            width: 626px;
            flex-direction: column;
        };
        @media (max-width: 767px) and (min-width: 200px) {
            width: 345px;
            flex-direction: column;

        };
        &_video{
            background: #000;
            width: 575px;
            height: 381px;
            @media (min-width: 768px) and (max-width:1199px) {
                width: 626px;
                height: 370px;
            };
            @media (max-width: 767px) and (min-width: 200px) {
                width: 345px;
                height: 226px;
            };
        }
        &_audios{
            display: flex;
            flex-direction: column;
            @media (min-width: 768px) and (max-width:1199px) {
                margin-top: 23px;
                
            };
            @media (max-width: 767px) and (min-width: 200px) {
                margin-top: 20px;
            };
            &_item{
                .audio_item{
                    display: flex;
                    align-items:center;
                    width: 491px;
                    height: 69px; 
                    border-radius: 20px;
                    background: #D1EEE1;
                    margin-top: 10px;
                    @media (min-width: 768px) and (max-width:1199px) {
                        width: 626px;
                    };
                    @media (max-width: 767px) and (min-width: 200px) {
                        width: 345px;
                    };

                    .audio_play{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 37px;
                        width: 46px;
                        height: 27.759px;
                        border-radius:15px 50px 15px 50px;
                        border:none;
                        background: #2DBC7C;
                        .play, .pause{
                            &_active{
                                display: block;
                            }
                            &_hide{
                                display: none;
                            }
                        } 
                    }
                    .audio_line{
                        margin-left: 40px;
                        height: 2px;
                        width: 264px;
                        background: #2DBC7C;
                    }
                    .audio_timer{
                        margin-left: 31px;
                        color: #77AB94;
                        font-family: Directo;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 30px;
                    }
                }
                
            }
        }
    }
    &_tiles{
        position: relative;
        width: 1148px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 45px;
        @media (min-width: 768px) and (max-width:1199px) {
            margin-top: 69px;
            width: 530px;
            flex-direction: column;
            
        };
        @media (max-width: 767px) and (min-width: 200px) {
            margin-top: 30px;
            width: 345px;
            flex-direction: column;
        };
        &_tile{
            position: relative;
            width: 564px;
            height: 569px;
            border-radius: 10px;
            background: #FFF;
            @media (min-width: 768px) and (max-width:1199px) {
                width: 530px;
                height: 569px;
                &:last-child{
                    margin-top: 20px;
                }
            };
            @media (max-width: 767px) and (min-width: 200px) {
                width: 345px;
                height: 345px;
                &:last-child{
                    margin-top: 20px;
                }
            };
            &_btn{
                position: absolute;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 69px;
                width: 245px;
                height: 55px;
                border-radius: 15px 50px;
                border: 1px solid #5B45FF;
                color: #513CF3;
                text-align: center;
                font-family: "Faber Sans Pro";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                transition: all 0.5s;

                @media (min-width: 768px) and (max-width:1199px) {
                    
                };
                @media (max-width: 767px) and (min-width: 200px) {
                    bottom:45px;
                };
                &:hover{
                    background: #5B45FF;
                    color: #FFF;
                }
            }
        }
    }
}