@media (min-width: 768px) and (max-width:1199px) {
    
};
@media (max-width: 767px) and (min-width: 200px) {
    

};

.lion{
    background-color: #F5F4FF;
    
    &_container{
        display: flex;
        flex-direction: row-reverse;
        margin: 0 auto;
        padding-top: 102px;
        max-width: 1440px;
        align-items:center;
        overflow: hidden;
        @media (min-width: 1440px) {
            padding-left: 146px;
        };
        @media (min-width: 768px) and (max-width:1199px) {
            flex-direction: column;
            align-items: center;
            padding-top: 64px;
        };
        @media (max-width: 767px) and (min-width: 200px) {
            flex-direction: column;
            padding-top: 51px;
        };
    }
    &_header{
        color: #2D2D2D;
        text-align: center;
        font-family: Directo;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
        margin: 0 auto;
        @media (min-width: 768px) and (max-width:1199px) {
            width: 738px;
            
        };
        @media (max-width: 767px) and (min-width: 200px) {
            width: 345px;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
        
        };
    }
    &_img{
        width: 865px;
        height: 545px;

        // @media (min-width:1198px) and (max-width:1300px) {
        //     width: 400px;

        // };
        @media (min-width: 768px) and (max-width:1199px) {
            width: 586px;
            margin: 0 auto;

        };
        @media (max-width: 767px) and (min-width: 200px) {
            width: 313px;
            height: auto;
            margin: 0 auto;
        };
    }
    &_text{
        // width: 558px;
        // margin-left: 146px;
        @media (min-width: 1000px) and (max-width:1300px)  {
            margin-left: 50px;
        };
        &_header{
            width: 491px;
            margin-top: -33px;
            color: #2D2D2D;
            font-family: Directo;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;
        }
        &_description{
            width: 511px;
            color: #6D698C;
            font-family: "Faber Sans Pro";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            margin-top: 38px;
            @media (min-width: 768px) and (max-width:1199px) {
                width: 626px;
                height: 247px;
                margin-top: 27px;
            };
            @media (max-width: 767px) and (min-width: 200px) {
                margin: 0 auto;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-top: 35px;
                width: 345px;
                
            };
        }
    }
}