.request{
    &_hide{
        display: none;
    }
    &_active{
        display: block;
    }

    position: absolute;
    z-index: 999;
    width: 450px;
    height: 499px;
    border-radius: 15px;
    background: #FFF;
    padding: 48px 0 0 79px ;
    top: 50%; /* по вертикали по центру */
    left: 50%; /* по горизонтали по центру */
    transform: translate(-50%, -50%);
    &_close{
        border:none;
        background: none;
        position: absolute;
        right: 22px;
        top: 21px;
    }
    &_header{
        color: #2D2D2D;
        // text-align: center;
        font-family: Directo;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px;
    }
    &_forms{
        display: flex;
        color: #B7B4D3;
        font-family: "Faber Sans Pro";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        &_item{
            &_descr{
                margin-top: 18px;
                color: #2D2D2D;
                font-family: "Faber Sans Pro";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
            }
            &_input{
                margin-top: 8px;
                width: 272px;
                height: 55px;
                border-radius: 15px 50px;
                background: #F3F2FF;
                padding-left: 47px;
                border:none;
                outline: none;
                
            }
        }
    }
    &_submit{
        width: 564px;
        display: flex;
        margin-top: 26px;
        flex-direction: column-reverse;
        align-items:flex-start;
        width: 345px;
        margin: 0 auto;
        margin-top: 20px;

        &_allert{
            width: 272px;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: baseline;
            
            &_img{
                position: absolute;
                transform: translateY(50%);
            }
            &_text{
                margin-left: 20px;
                color: #B7B4D3;
                font-family: "Faber Sans Pro";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px; 
            }
        }
        &_button{
            border:none;
            outline: none;
            width: 272px;
            height: 55px;
            border-radius: 15px 50px;
            background: #2DBC7C;
            color: #FFF;
            text-align: center;
            font-family: "Faber Sans Pro";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 14px;
            &:hover{
                background: #EF584E;
            };
            
        }
    }
}