.thank{
    display: flex;
    justify-content: center;
    flex-direction: column;
    &_img{
        margin: 0 auto;
        // margin-top: 120px;
    }
    &_header{
        margin: 0 auto;
        margin-top: 31px;
        text-align: center;
        color: #2D2D2D;
        text-align: center;
        font-family: Directo;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 55px;
    }
    &_subheader{
        margin-top: 24px;
        text-align: center;
        color: #2D2D2D;
        text-align: center;
        font-family: "Faber Sans Pro";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    &_descr{
        margin-top: 71px;
        color: #8682A7;
        text-align: center;
        font-family: "Faber Sans Pro";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    &_social{
        width: 289.6px;
        margin: 0 auto;
        margin-top: 18px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_link{
            text-decoration: none;
            width: 64px;
            height: 64px;
            border-radius: 12px;
            display: flex;
            align-items:center;
            justify-content: center;
            &:nth-child(1){
                background: linear-gradient(180deg, #358CE2 0%, #A23693 39.37%, #EB713B 73.75%, #FED97B 100%);  
            }
            &:nth-child(2){
                background: #DC2828;
            }
            &:nth-child(3){
                background: #284ED7;
            }
            &:nth-child(4){
                background: #3E70D1;
            }
            &:hover {
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Adjust the shadow size and color as needed */
              }
            &_img{
                width: 25.6px;
                height: 25.6px;
            }
        }
    }
    &_back{
        margin: 0 auto;
        margin-top: 62px;
        margin-bottom: 108px;
        text-decoration: none;
        width: 273px;
        height: 60px;
        border-radius: 10px;
        border: 1px solid #B7B4D3;
        display: flex;
        justify-content: center;
        align-items:center;
        color: #8682A7;
        text-align: center;
        font-family: "Faber Sans Pro";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        &:hover{
            background: #2DBC7C;
            color:#FFF;
        }

    }

}

.wraper_request{
    height: 100%;
}