*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.wraper{
    background-color: #F5F4FF;
    height: 100%;
}


@import 'header';
@import 'buttons';
@import 'promo';
@import 'books';
@import 'advantages';
@import 'kids';
@import 'forms';
@import 'benefits';
@import 'instructions';
@import 'lion';
@import 'potential';
@import 'optimal';
@import 'audio';
@import 'footer';
@import 'request';
@import 'thank';




.txt_header{
    font-family: Directo;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    @media (min-width: 768px) and (max-width:1199px) {
        font-size: 38px;
        line-height: 48px;
    };
    @media (max-width: 767px) and (min-width: 200px) {
        font-size: 30px;
        line-height: 40px;
    };
}

.txt_header2{
    font-family: Directo;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    @media (min-width: 768px) and (max-width:1199px) {
        font-size: 32px;
        line-height: 46px;
    };
    @media (max-width: 767px) and (min-width: 200px) {
        font-size: 22px;
        line-height: 32px;
    };
}

.hideormin1200{
    display: none;
    @media (min-width: 1200px) {
        display: block;
    };   
}

.hideorbig1200{
    display: block;
    @media (min-width: 1200px) {
        display: none;
    };   
}

.txt_descr{
    color: #8682A7;
    font-family: "Faber Sans Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    @media (min-width: 768px) {
        font-size: 20px;
    };
    @media (max-width: 767px) and (min-width: 200px) {
        font-size: 16px;
        line-height: 24px;
    };
}






    








