* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: gilroy-regular; }

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1440px) {
    .container {
      padding: 0 15px 0 15px; } }
  @media (max-width: 767px) and (min-width: 200px) {
    .container {
      padding: 0 15px 0 15px; } }

.header {
  position: absolute;
  top: 12px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  z-index: 5; }
  .header_block {
    margin: 0 auto;
    position: absolute;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 51px;
    border-radius: 75px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(7.5px);
            backdrop-filter: blur(7.5px);
    padding: 0 21px 0 10px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .header_block {
        padding: 0 14px 0 10px;
        width: calc(100% - 26px); } }
    @media (max-width: 767px) and (min-width: 200px) {
      .header_block {
        width: calc(100% - 26px); } }
  .header_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .header_list {
    padding-left: 73px;
    margin-bottom: 0;
    width: auto;
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    gap: 41px; }
    @media (max-width: 768px) {
      .header_list {
        display: none; } }
    .header_list_item {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      .header_list_item_link {
        text-decoration: none;
        color: #22253B;
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 104.4%;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
        .header_list_item_link:hover {
          color: #F15525; }
  .header_right {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: end; }
    .header_right_link {
      text-decoration: none;
      color: #3C3E50;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 104.4%;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      @media (max-width: 1199px) {
        .header_right_link {
          display: none; } }
      .header_right_link:hover {
        color: #F15525; }
  .header_login {
    border: none;
    width: 77.903px;
    height: 28.731px;
    border-radius: 34px;
    background: #38BFF2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 14px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .header_login {
        margin-left: 0; } }
    @media (max-width: 767px) and (min-width: 200px) {
      .header_login {
        margin-left: 0; } }
    .header_login:hover {
      background: #F15525; }
    .header_login_text {
      margin-left: 4px;
      color: #FFF;
      font-family: gilroy-regular;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 104.4%; }
  .header_burger {
    border: none;
    outline: none;
    background: none; }
    @media (min-width: 767px) {
      .header_burger {
        display: none; } }

.orange {
  color: #F15525; }

.bold {
  color: #22253B;
  font-family: "Gilroy-MediumItalic"; }

.promo {
  background: #F9F8FD;
  position: relative;
  overflow: hidden;
  height: 603px;
  padding-bottom: 20px; }
  @media (min-width: 200px) and (max-width: 1199px) {
    .promo {
      height: 750px; } }
  .promo_text {
    position: relative;
    z-index: 2;
    margin-top: 133px; }
    @media (min-width: 200px) and (max-width: 1199px) {
      .promo_text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 77px; } }
  .promo_header {
    color: #22253B;
    font-family: "Gilroy-Medium";
    font-size: 46px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px;
    margin-top: 70px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .promo_header {
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
        margin-top: 30px; } }
    @media (max-width: 767px) and (min-width: 200px) {
      .promo_header {
        text-align: center;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-top: 24px; } }
  .promo .line {
    width: 365.216px;
    height: 1px;
    background: #DEDEDE;
    margin-top: 31px; }
    @media (min-width: 200px) and (max-width: 1199px) {
      .promo .line {
        width: 93.4%;
        margin: 0 auto;
        margin-top: 18px; } }
  .promo_description {
    color: #22253B;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    /* 143.75% */
    margin-top: 14px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .promo_description {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center; } }
    @media (max-width: 767px) and (min-width: 200px) {
      .promo_description {
        text-align: center;
        color: #22253B;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-top: 9px; } }
  .promo_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 321px;
    height: 70px;
    margin-top: 18px; }
    @media (min-width: 200px) and (max-width: 1199px) {
      .promo_button {
        max-width: 299px;
        width: 100%;
        height: 70px;
        margin-top: 21px; } }
    .promo_button_text {
      position: relative;
      z-index: 5;
      color: #FFF;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 96.688%;
      /* 17.404px */
      letter-spacing: -0.54px;
      margin-right: 7px; }
  .promo_right {
    position: absolute;
    -webkit-transform: translate(130px, -992px);
            transform: translate(130px, -992px);
    z-index: 0; }
    @media (min-width: 200px) and (max-width: 1199px) {
      .promo_right {
        -webkit-transform: translate(-277px, -643px);
                transform: translate(-277px, -643px); } }
    .promo_right_img {
      position: absolute;
      top: -29px; }
  .promo_circl {
    position: absolute;
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 100%;
    border: 2px solid #fff;
    background: linear-gradient(260deg, #FFF -31.68%, rgba(255, 255, 255, 0) 87.52%), rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 30px 100px 0px rgba(0, 129, 170, 0.06);
            box-shadow: 0px 30px 100px 0px rgba(0, 129, 170, 0.06);
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px); }
    .promo_circl_1 {
      width: 1705px;
      height: 1705px; }
      @media (min-width: 200px) and (max-width: 1199px) {
        .promo_circl_1 {
          width: 1100px;
          height: 1075.401px; } }
    .promo_circl_2 {
      width: 1236.175px;
      height: 1236.175px; }
      @media (min-width: 200px) and (max-width: 1199px) {
        .promo_circl_2 {
          width: 797.532px;
          height: 779.698px; } }
    .promo_circl_3 {
      width: 907.597px;
      height: 907.597px; }
      @media (min-width: 200px) and (max-width: 1199px) {
        .promo_circl_3 {
          width: 585.546px;
          height: 572.452px; } }
    .promo_circl_4 {
      width: 627.103px;
      height: 627.103px; }
      @media (min-width: 200px) and (max-width: 1199px) {
        .promo_circl_4 {
          width: 404.583px;
          height: 395.535px; } }
    .promo_circl_5 {
      width: 399.384px;
      height: 399.384px; }
      @media (min-width: 200px) and (max-width: 1199px) {
        .promo_circl_5 {
          width: 257.667px;
          height: 251.905px; } }
  .promo_center {
    z-index: 0;
    position: absolute;
    top: 50%;
    /* Move the element 50% down from the top */
    left: 50%;
    /* Move the element 50% from the left */
    -webkit-transform: translate(-546px, -250px);
            transform: translate(-546px, -250px); }
    .promo_center_img {
      position: absolute;
      top: 22px;
      width: 210px;
      height: 219.272px; }
  .promo .down_elemetn {
    position: absolute;
    width: 100%;
    height: 47px;
    bottom: 0;
    border-radius: -50px; }
    .promo .down_elemetn .drop {
      position: absolute;
      height: 60px;
      left: 50%;
      -webkit-transform: translateX(calc(-50% + 3px));
              transform: translateX(calc(-50% + 3px)); }
      @media (max-width: 767px) and (min-width: 200px) {
        .promo .down_elemetn .drop {
          height: 50px; } }
    .promo .down_elemetn .promo_arrow {
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 37px;
      height: 37px;
      border-radius: 100%;
      background-color: #fff;
      z-index: 99;
      -webkit-transition: 1s;
      transition: 1s; }
      .promo .down_elemetn .promo_arrow:hover {
        background-color: #222; }
  .promo .down_rectangles {
    position: absolute;
    top: calc(100% - 44px);
    width: 100%;
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 173px;
            column-gap: 173px; }
    .promo .down_rectangles .rectangle {
      width: 100%;
      background-color: #fff; }

.technologies_header {
  margin-top: 53px; }
.technologies_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  width: 407.082px;
  height: 352.854px; }
.technologies_block {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  height: 396px;
  border-radius: 48px;
  background: #EAF2F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 59px;
          column-gap: 59px;
  margin-top: 35px; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .technologies_block {
      width: 80%; } }
  @media (max-width: 767px) and (min-width: 200px) {
    .technologies_block {
      height: 301px;
      margin-top: 22px; } }
.technologies_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .technologies_content {
      width: 90%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 767px) and (min-width: 200px) {
    .technologies_content {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
.technologies .techologies_grid_description {
  color: #22253B;
  margin-top: 26px;
  font-family: 'Gilroy-SemiBold';
  font-size: 20px;
  font-weight: 900;
  line-height: 25px; }
.technologies_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .technologies_grid {
      -webkit-column-gap: none;
              column-gap: none;
      margin-top: 17px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (max-width: 767px) and (min-width: 200px) {
    .technologies_grid {
      -webkit-column-gap: 0;
              column-gap: 0;
      margin-top: 17px;
      width: 267px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .technologies_grid_item {
    height: 45.133px;
    border-radius: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .technologies_grid_item {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 46px;
        width: 100%; } }
    @media (max-width: 767px) and (min-width: 200px) {
      .technologies_grid_item {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 46px;
        max-width: 267px;
        width: 100%; } }
    .technologies_grid_item_python {
      background: #5096FF;
      width: 311px; }
      @media (min-width: 200px) and (max-width: 1199px) {
        .technologies_grid_item_python {
          width: 100%; } }
    .technologies_grid_item_webs {
      background: #FFB359;
      width: 89px; }
      @media (min-width: 200px) and (max-width: 767px) {
        .technologies_grid_item_webs {
          max-width: 99px;
          width: 100%; } }
      @media (min-width: 768px) and (max-width: 1199px) {
        .technologies_grid_item_webs {
          width: 49%; } }
    .technologies_grid_item_data-bases {
      background: #FF6F50;
      width: 151px; }
      @media (min-width: 200px) and (max-width: 767px) {
        .technologies_grid_item_data-bases {
          max-width: 160px;
          width: 100%; } }
      @media (min-width: 768px) and (max-width: 1199px) {
        .technologies_grid_item_data-bases {
          width: 49%; } }
    .technologies_grid_item_flasc {
      background: #4BD071;
      width: 277px; }
      @media (min-width: 200px) and (max-width: 1199px) {
        .technologies_grid_item_flasc {
          width: 100%; } }
    .technologies_grid_item_test {
      background: #50C0FF;
      width: 258px; }
      @media (min-width: 200px) and (max-width: 1199px) {
        .technologies_grid_item_test {
          width: 100%; } }
    .technologies_grid_item_docker {
      background: #4B77B9;
      width: 95px; }
      @media (min-width: 200px) and (max-width: 767px) {
        .technologies_grid_item_docker {
          max-width: 129px;
          width: 100%; } }
      @media (min-width: 768px) and (max-width: 1199px) {
        .technologies_grid_item_docker {
          width: 49%; } }
    .technologies_grid_item_git {
      background: #AF93FF;
      width: 93px; }
      @media (min-width: 200px) and (max-width: 767px) {
        .technologies_grid_item_git {
          max-width: 129px;
          width: 100%; } }
      @media (min-width: 768px) and (max-width: 1199px) {
        .technologies_grid_item_git {
          width: 49%; } }

.benefits {
  padding-bottom: 87px;
  display: block;
  background-color: #fff; }
  @media (max-width: 767px) and (min-width: 200px) {
    .benefits {
      padding-bottom: 12px; } }
  .benefits_header {
    margin-top: 84px; }
    @media (max-width: 767px) and (min-width: 200px) {
      .benefits_header {
        margin-top: 58px; } }
  .benefits_content {
    margin-top: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 27px;
    -webkit-column-gap: 27px;
            column-gap: 27px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 1199px) and (min-width: 200px) {
      .benefits_content {
        display: none; } }
  .benefits_item {
    width: 270px;
    height: 254px;
    border-radius: 30px;
    background: #EAF2F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px; }
    .benefits_item_header {
      margin-top: 18px;
      text-align: center;
      color: #22253B;
      text-align: center;
      font-family: "Gilroy-SemiBold";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 18.5px; }
    .benefits_item_description {
      text-align: center;
      color: #22253B;
      text-align: center;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 15px; }
  .benefits_content_mobile {
    display: none; }
    @media (min-width: 200px) and (max-width: 1199px) {
      .benefits_content_mobile {
        display: grid;
        width: 100%;
        margin: auto;
        row-gap: 10px;
        -webkit-column-gap: 10px;
                column-gap: 10px;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 175px 155px 175px 86px; } }
    .benefits_content_mobile .benefits_item_mobile {
      min-width: 145px;
      height: 175px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-radius: 20px;
      background: #EAF2F5;
      padding-top: 24px; }
      .benefits_content_mobile .benefits_item_mobile:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2; }
      .benefits_content_mobile .benefits_item_mobile:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3; }
      .benefits_content_mobile .benefits_item_mobile:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2; }
      .benefits_content_mobile .benefits_item_mobile:nth-child(4) {
        grid-area: 2 / 2 / 3 / 3; }
      .benefits_content_mobile .benefits_item_mobile:nth-child(5) {
        grid-area: 3 / 1 / 4 / 2; }
      .benefits_content_mobile .benefits_item_mobile:nth-child(6) {
        grid-area: 3 / 2 / 4 / 3; }
      .benefits_content_mobile .benefits_item_mobile:nth-child(7) {
        grid-area: 4 / 1 / 5 / 3; }
      .benefits_content_mobile .benefits_item_mobile:last-child {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
        height: 86px;
        padding-top: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: left; }
      .benefits_content_mobile .benefits_item_mobile_h155 {
        height: 155px; }
      .benefits_content_mobile .benefits_item_mobile_img {
        width: 40px;
        height: 40px; }
      .benefits_content_mobile .benefits_item_mobile_header {
        margin-top: 15px;
        color: #22253B;
        text-align: center;
        font-family: "Gilroy-SemiBold";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 12px;
        width: 60%; }
        .benefits_content_mobile .benefits_item_mobile_header:last-child {
          margin-top: 0px; }
      .benefits_content_mobile .benefits_item_mobile_description {
        color: #22253B;
        text-align: center;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; }
      .benefits_content_mobile .benefits_item_mobile_text {
        margin-left: 17px; }
        .benefits_content_mobile .benefits_item_mobile_text .benefits_item_mobile_header {
          text-align: left; }
        .benefits_content_mobile .benefits_item_mobile_text .benefits_item_mobile_description {
          text-align: left; }

.background_circles {
  position: absolute;
  z-index: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-46%, -50%);
          transform: translate(-46%, -50%); }

.learn {
  background: #f9f8fd;
  position: relative;
  overflow: hidden;
  padding-top: 55px; }
  .learn_description {
    margin: auto;
    margin-top: 26px;
    color: #22253B;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 642px;
    width: 100%;
    min-width: 276px; }
    @media (max-width: 767px) and (min-width: 200px) {
      .learn_description {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        margin-top: 15px; } }
  .learn_notebook {
    margin-top: 28px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 767px) and (min-width: 200px) {
      .learn_notebook {
        margin-top: 33px; } }
    .learn_notebook_all_img {
      position: relative; }
    .learn_notebook_img {
      z-index: 1;
      max-width: 762px;
      min-width: 299px;
      width: 100%; }
    .learn_notebook .notebook_shadow {
      position: absolute;
      max-width: 1500px;
      -webkit-transform-origin: center;
              transform-origin: center;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 0; }
      @media (min-width: 768px) and (max-width: 1199px) {
        .learn_notebook .notebook_shadow {
          max-width: 1000px; } }
      @media (max-width: 767px) and (min-width: 200px) {
        .learn_notebook .notebook_shadow {
          max-width: 500px; } }
    .learn_notebook .learn_video {
      text-decoration: none;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .learn_notebook .learn_video_text {
        margin-top: 5px;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 96.688%;
        /* 19.338px */
        letter-spacing: -0.6px; }
        @media (max-width: 767px) and (min-width: 200px) {
          .learn_notebook .learn_video_text {
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 96.688%;
            /* 9.669px */
            letter-spacing: -0.3px; } }
      .learn_notebook .learn_video_play {
        position: relative;
        width: 80px;
        height: 80px;
        margin: 20px;
        border-radius: 50%;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
        @media (max-width: 767px) and (min-width: 200px) {
          .learn_notebook .learn_video_play {
            width: 38px;
            height: 38px; }
            .learn_notebook .learn_video_play img {
              width: 6px;
              height: 5px; } }
        .learn_notebook .learn_video_play::after {
          content: "";
          position: absolute;
          z-index: -1;
          width: 122px;
          height: 122px;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          background-color: rgba(241, 85, 37, 0.4); }
          @media (max-width: 767px) and (min-width: 200px) {
            .learn_notebook .learn_video_play::after {
              width: 58px;
              height: 58px; } }
        .learn_notebook .learn_video_play:hover::after {
          content: "";
          position: absolute;
          z-index: -1;
          width: 122px;
          height: 122px;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          background-color: rgba(37, 217, 241, 0.4); }
          @media (max-width: 767px) and (min-width: 200px) {
            .learn_notebook .learn_video_play:hover::after {
              width: 58px;
              height: 58px; } }
  .learn_content {
    z-index: 5;
    margin: auto;
    margin-top: 29px;
    padding-left: 53px;
    padding-right: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1160px;
    min-height: 349px;
    border-radius: 40px;
    background: #FFF;
    -webkit-box-shadow: 0px 81px 120px -77px rgba(34, 37, 59, 0.04);
            box-shadow: 0px 81px 120px -77px rgba(34, 37, 59, 0.04); }
    @media (max-width: 1199px) and (min-width: 200px) {
      .learn_content {
        margin-top: 22px;
        padding-bottom: 39px;
        padding-top: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 50px; } }
    .learn_content_item {
      position: relative;
      width: 286px; }
      .learn_content_item:nth-child(2)::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 260px;
        background: #EAF2F5;
        left: -58px;
        top: 0;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
        @media (min-width: 200px) and (max-width: 1199px) {
          .learn_content_item:nth-child(2)::after {
            -webkit-transform: rotateZ(90deg);
                    transform: rotateZ(90deg);
            top: -150px;
            left: 130px; } }
      .learn_content_item:nth-child(2)::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 260px;
        background: #EAF2F5;
        right: -60px;
        top: 0;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
        @media (min-width: 768px) and (max-width: 1199px) {
          .learn_content_item:nth-child(2)::before {
            -webkit-transform: rotateZ(90deg);
                    transform: rotateZ(90deg);
            right: 160px;
            top: 150px; } }
        @media (max-width: 767px) and (min-width: 200px) {
          .learn_content_item:nth-child(2)::before {
            -webkit-transform: rotateZ(90deg);
                    transform: rotateZ(90deg);
            right: 160px;
            top: 50px; } }
      .learn_content_item_number {
        color: #38BFF2;
        font-size: 77px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        height: 80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 767px) and (min-width: 200px) {
          .learn_content_item_number {
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            height: 55px; } }
      .learn_content_item_title {
        margin-top: 20px;
        width: 100%;
        color: #22253B;
        font-family: "Gilroy-SemiBold";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; }
        @media (max-width: 767px) and (min-width: 200px) {
          .learn_content_item_title {
            margin-top: 7px;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 19px; } }
      .learn_content_item_description {
        margin-top: 11px;
        color: #22253B;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px; }
        @media (max-width: 767px) and (min-width: 200px) {
          .learn_content_item_description {
            margin-top: 6px;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px; } }
  .learn_button_container {
    margin: auto;
    margin-top: 26px;
    max-width: 538px;
    width: 100%;
    min-height: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 24px;
            column-gap: 24px;
    row-gap: 12px;
    border-radius: 110px;
    background: #FFF; }
    @media (max-width: 767px) and (min-width: 200px) {
      .learn_button_container {
        height: 151px;
        margin-top: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border-radius: 30px; } }
    .learn_button_container .learn_button {
      width: 249px;
      height: 70px;
      margin-top: 0; }
    .learn_button_container .button_description {
      width: 214px;
      height: 54px;
      color: #22253B;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; }
      @media (max-width: 767px) and (min-width: 200px) {
        .learn_button_container .button_description {
          color: #22253B;
          text-align: center;
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: 18px;
          width: 249px;
          text-align: center; } }

.help {
  background: #f9f8fd;
  overflow: visible;
  padding: 91px 0 89px 0; }
  @media (max-width: 767px) and (min-width: 200px) {
    .help {
      background: #fff;
      border-radius: 30px;
      padding: 10px 0 10px 0; } }
  .help_title {
    color: #22253b;
    font-family: Gilroy-SemiBold;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .help_title {
        font-size: 25px;
        line-height: 23px; } }
    @media (max-width: 767px) and (min-width: 200px) {
      .help_title {
        font-size: 20px;
        line-height: 19px; } }
  .help_description {
    color: #22253b;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 18px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .help_description {
        font-size: 14px;
        line-height: 15px; } }
    @media (max-width: 767px) and (min-width: 200px) {
      .help_description {
        font-size: 12px;
        line-height: 17px;
        margin-top: 15px; } }
  .help_grid {
    max-width: 1161px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 30px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .help_grid {
        max-width: 650px;
        width: 100%;
        grid-column-gap: 10px;
        grid-row-gap: 10px; } }
    @media (max-width: 767px) and (min-width: 200px) {
      .help_grid {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .help_grid_item {
      border-radius: 40px;
      background: #eaf2f5;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .help_grid_item:nth-child(1) {
        width: 401px;
        height: 313px; }
        .help_grid_item:nth-child(1) .help_img_double_programing {
          width: 271px;
          height: 231px; }
        @media (min-width: 200px) and (max-width: 1199px) {
          .help_grid_item:nth-child(1) {
            max-width: 300px;
            width: 100%;
            height: 243px; }
            .help_grid_item:nth-child(1) .help_img_double_programing {
              width: 205px;
              height: 175px; } }
      .help_grid_item:nth-child(2) {
        height: 313px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 0 100px 0 100px;
        max-width: 730px;
        width: 100%; }
        @media (min-width: 200px) and (max-width: 1199px) {
          .help_grid_item:nth-child(2) {
            max-width: 300px;
            width: 100%;
            height: 243px;
            padding: 0 20px 0 20px; } }
        .help_grid_item:nth-child(2) .help_description {
          max-width: 549px;
          width: 100%; }
          .help_grid_item:nth-child(2) .help_description:nth-child(2) {
            max-width: 435px;
            width: 100%; }
      .help_grid_item:nth-child(3) {
        height: 290px;
        max-width: 730px;
        width: 100%;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 0 100px 0 100px; }
        @media (min-width: 200px) and (max-width: 1199px) {
          .help_grid_item:nth-child(3) {
            max-width: 300px;
            width: 100%;
            height: 243px;
            padding: 0 20px 0 20px; } }
        @media (max-width: 767px) and (min-width: 200px) {
          .help_grid_item:nth-child(3) {
            -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                    order: 1; } }
      .help_grid_item:nth-child(4) {
        width: 400px;
        height: 290px; }
        .help_grid_item:nth-child(4) .help_img_coding {
          width: 258px;
          height: 259px; }
          .help_grid_item:nth-child(4) .help_img_coding .help_description {
            max-width: 500px;
            width: 100%; }
        @media (min-width: 200px) and (max-width: 1199px) {
          .help_grid_item:nth-child(4) {
            max-width: 300px;
            width: 100%;
            height: 243px; }
            .help_grid_item:nth-child(4) .help_img_coding {
              width: 206px;
              height: 207px; } }

.coast {
  background: #f9f8fd; }
  .coast_advantages {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 70px;
            column-gap: 70px;
    row-gap: 21px;
    margin-top: 35px; }
    @media (max-width: 767px) and (min-width: 200px) {
      .coast_advantages {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 25px; } }
    .coast_advantages_item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-column-gap: 29px;
              column-gap: 29px; }
      @media (min-width: 768px) and (max-width: 1199px) {
        .coast_advantages_item {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-column-gap: 0px;
                  column-gap: 0px;
          row-gap: 10px; } }
      @media (max-width: 767px) and (min-width: 200px) {
        .coast_advantages_item {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-column-gap: 0px;
                  column-gap: 0px;
          row-gap: 10px; } }
      .coast_advantages_item_img {
        width: 59px;
        height: 59px; }
        @media (max-width: 767px) and (min-width: 200px) {
          .coast_advantages_item_img {
            width: 55px;
            height: 55px; } }
      .coast_advantages_item_description {
        color: #22253b;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0%;
        text-align: left; }
        .coast_advantages_item_description:nth-child(2) {
          min-width: 158px; }
        @media (max-width: 767px) and (min-width: 200px) {
          .coast_advantages_item_description {
            min-width: 168px;
            max-width: 300px;
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: center; } }
  .coast .scroll_img {
    margin-left: 29px;
    margin-top: 22px; }
  .coast_table {
    background: #fff;
    border-radius: 30px;
    margin: 0 auto;
    max-width: 1160px;
    height: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 36px;
    margin-top: 41px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .coast_table {
        overflow: scroll;
        margin-top: 20px; } }
    @media (max-width: 767px) and (min-width: 200px) {
      .coast_table {
        height: 483px;
        padding-top: 16px;
        overflow: scroll;
        margin-top: 20px; } }
    .coast_table table th {
      height: 25px;
      text-decoration: none;
      white-space: nowrap;
      color: #38bff2;
      font-size: 16px;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 0%;
      text-align: left; }
      .coast_table table th:nth-child(2) {
        padding: 0 127px 0 180px; }
      .coast_table table th:nth-child(1) {
        padding-left: 22px; }
    .coast_table table tr {
      width: 100%;
      height: 57px;
      white-space: nowrap;
      color: #22253b;
      font-size: 20px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0%;
      text-align: left; }
      .coast_table table tr:nth-child(even) {
        border-radius: 10px; }
        .coast_table table tr:nth-child(even) td {
          background: #f3f3f3; }
          .coast_table table tr:nth-child(even) td:nth-child(1) {
            border-radius: 10px 0 0 10px; }
          .coast_table table tr:nth-child(even) td:nth-child(3) {
            border-radius: 0 10px 10px 0; }
      @media (max-width: 767px) and (min-width: 200px) {
        .coast_table table tr {
          height: 50px; } }
      .coast_table table tr td {
        padding-left: 19px;
        white-space: nowrap;
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content; }
        .coast_table table tr td:nth-child(2) {
          padding: 0 127px 0 180px; }
        @media (max-width: 767px) and (min-width: 200px) {
          .coast_table table tr td {
            font-size: 13px; } }
      .coast_table table tr .table_end_title {
        color: #22253b;
        font-size: 24px;
        font-weight: 800;
        line-height: 25px;
        letter-spacing: 0%;
        text-align: left; }
        @media (max-width: 767px) and (min-width: 200px) {
          .coast_table table tr .table_end_title {
            font-size: 19px; } }
    .coast_table table .table_start {
      height: 40px; }
  .coast .table_description {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 53px;
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 25px; }
    @media (max-width: 767px) and (min-width: 200px) {
      .coast .table_description {
        font-size: 12px;
        margin-top: 18px;
        line-height: 20px;
        padding-left: 41px; } }
  .coast_form {
    margin: 0 auto;
    height: 218px;
    border-radius: 30px;
    background: #eaf2f5;
    -webkit-column-gap: 23px;
            column-gap: 23px;
    row-gap: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1160px;
    margin-top: 33px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .coast_form {
        margin-top: 47px; } }
    @media (max-width: 767px) and (min-width: 200px) {
      .coast_form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
        padding-top: 42px;
        padding-bottom: 54px; } }
    .coast_form .coast_button {
      margin-top: 0px; }
    @media (max-width: 767px) and (min-width: 200px) {
      .coast_form_img {
        width: 70px; } }
    .coast_form_description {
      max-width: 600px;
      color: #22253b;
      Font-weight: 400;
      font-size: 17px;
      line-height: 22px; }
      @media (min-width: 768px) and (max-width: 1199px) {
        .coast_form_description {
          font-size: 15px;
          max-width: 400px; } }
      @media (max-width: 767px) and (min-width: 200px) {
        .coast_form_description {
          max-width: 251px;
          font-size: 12px;
          font-weight: 400;
          line-height: 22px;
          text-align: center;
          width: 100%; } }

.footer {
  padding-top: 63px;
  background: #f9f8fd; }
  .footer_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) and (min-width: 200px) {
      .footer_main {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .footer_main .logos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media (max-width: 767px) and (min-width: 200px) {
        .footer_main .logos {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .footer_main .logos .main_logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-column-gap: 18px;
                column-gap: 18px; }
        .footer_main .logos .main_logo_img {
          width: 87.16px;
          height: 32px; }
        .footer_main .logos .main_logo_text {
          color: #8e8e8e;
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0%;
          text-align: left; }
      .footer_main .logos .socials {
        margin-top: 40px;
        display: inline-block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        @media (max-width: 767px) and (min-width: 200px) {
          .footer_main .logos .socials {
            margin-top: 25px; } }
        .footer_main .logos .socials_list {
          list-style-type: none;
          padding: 0;
          margin: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-column-gap: 16px;
                  column-gap: 16px; }
          .footer_main .logos .socials_list_item_link {
            width: 38px;
            height: 38px;
            border-radius: 100%;
            background: #22253b;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-transition: 0.5s;
            transition: 0.5s; }
            .footer_main .logos .socials_list_item_link:hover {
              background: #f15525; }
    .footer_main .footer_right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-column-gap: 160px;
              column-gap: 160px; }
      @media (max-width: 767px) and (min-width: 200px) {
        .footer_main .footer_right {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .footer_main .footer_right .info {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 25px;
        display: flex; }
        @media (max-width: 767px) and (min-width: 200px) {
          .footer_main .footer_right .info {
            margin-top: 43px; } }
        .footer_main .footer_right .info_item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: stretch;
              -ms-flex-align: stretch;
                  align-items: stretch; }
          @media (max-width: 767px) and (min-width: 200px) {
            .footer_main .footer_right .info_item {
              text-align: center;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center; } }
          .footer_main .footer_right .info_item_link {
            text-decoration: none;
            color: #22253b;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 0%;
            -webkit-transition: 0.5s;
            transition: 0.5s; }
            .footer_main .footer_right .info_item_link:hover {
              color: #f15525; }
      @media (max-width: 767px) and (min-width: 200px) {
        .footer_main .footer_right .contacts_container .contacts {
          margin-top: 43px; } }
      .footer_main .footer_right .contacts_container .contacts_number {
        text-decoration: none;
        color: #38bff2;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: left; }
      .footer_main .footer_right .contacts_container .contacts_mail {
        margin-top: 4px;
        text-decoration: none;
        color: #22253b;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: left; }
      @media (max-width: 767px) and (min-width: 200px) {
        .footer_main .footer_right .contacts_container .contacts {
          text-align: center; } }
      .footer_main .footer_right .contacts_container .organisation_id {
        margin-top: 65px;
        color: #8e8e8e;
        font-size: 13px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: left; }
        @media (max-width: 767px) and (min-width: 200px) {
          .footer_main .footer_right .contacts_container .organisation_id {
            text-align: center;
            margin-top: 35px; } }
  .footer .footer_line {
    width: 100%;
    border: 1px solid #d8d8d8;
    margin-top: 50px; }
    @media (max-width: 767px) and (min-width: 200px) {
      .footer .footer_line {
        margin-top: 31px; } }
  .footer .footer_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 28px;
    padding-bottom: 28px; }
    @media (max-width: 767px) and (min-width: 200px) {
      .footer .footer_bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 25px;
        padding-bottom: 25px; } }
    .footer .footer_bottom .copyright {
      text-decoration: none;
      color: #8e8e8e;
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0%;
      text-align: left; }
    .footer .footer_bottom .footer_bottom_right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 64px;
              column-gap: 64px;
      row-gap: 6px; }
      @media (max-width: 767px) and (min-width: 200px) {
        .footer .footer_bottom .footer_bottom_right {
          margin-top: 13px;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
    .footer .footer_bottom .footer_bottom_link {
      text-decoration: none;
      color: #8e8e8e;
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0%;
      text-align: left;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .footer .footer_bottom .footer_bottom_link:hover {
        color: #f15525; }
      @media (max-width: 767px) and (min-width: 200px) {
        .footer .footer_bottom .footer_bottom_link {
          font-size: 12px;
          line-height: 23px;
          text-align: center;
          color: #f15525; }
          .footer .footer_bottom .footer_bottom_link:hover {
            color: #8e8e8e; } }

.pop-up {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(25, 26, 38, 0.9); }
  .pop-up_content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 740px;
    height: 345px;
    width: 100%;
    border-radius: 30px;
    background: white; }
    .pop-up_content_close {
      position: absolute;
      top: 25px;
      right: 28px;
      background-color: #fff;
      border: none; }
    .pop-up_content_title {
      max-width: 506px;
      width: 100%;
      color: #22253b;
      font-size: 24px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0%;
      text-align: center; }
      @media (max-width: 767px) and (min-width: 200px) {
        .pop-up_content_title {
          font-size: 16px;
          line-height: 21px; } }
    .pop-up_content_text {
      max-width: 515px;
      width: 100%;
      color: #22253b;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
      text-align: center; }
      @media (max-width: 767px) and (min-width: 200px) {
        .pop-up_content_text {
          font-size: 12px;
          line-height: 18px; } }
    .pop-up_content_button {
      border: none;
      width: 197px;
      height: 70px;
      border-radius: 82px;
      background: #F15525;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      .pop-up_content_button:hover {
        background: #38BFF2; }

.hideormin1200 {
  display: none; }
  @media (min-width: 1200px) {
    .hideormin1200 {
      display: block; } }

.hideorbig1200 {
  display: block; }
  @media (min-width: 1200px) {
    .hideorbig1200 {
      display: none; } }

section button {
  border: none;
  border-radius: 82px;
  background: #F15525;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  section button:hover {
    background: #38BFF2; }

h2 {
  color: #22253B;
  text-align: center;
  font-family: "Gilroy-SemiBold";
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px; }
  @media (min-width: 768px) and (max-width: 1199px) {
    h2 {
      color: #22253B;
      text-align: center;
      font-family: "Gilroy-SemiBold";
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px; } }
  @media (max-width: 767px) and (min-width: 200px) {
    h2 {
      color: #22253B;
      text-align: center;
      font-family: "Gilroy-SemiBold";
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px; } }

/*# sourceMappingURL=style.css.map */